<%- include('includes/head.ejs') %>
<link rel="stylesheet" type="text/css" href="css/user.css">
</head>
<body>
    <nav>
        <%- include('includes/nav.ejs') %>
    </nav>
    <div>
    <% if(users.length>0){ %>
        <ul>
            <% for(let i=0; i<users.length; i++){ %>
                <li><%= users[i] %></li>
            <% } %>
        </ul>
    <% }else{ %>
        <h1>No Users</h1>
    <% } %>
</div>
</body>
</html>